BOT_TOKEN=your_telegram_bot_token
ADMIN_IDS=your_telegram_id

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=your_database_name
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
